<section class="call-to-action section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow text-center">
                <div class="block">
                    <h2>Subscribe to our mailing list</h2>
                    <p>Please enter your email and we will send COVID-19 updates to you.</p>
                    <div class="col-lg-6 offset-lg-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address Here">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-subscription" type="button">Subscribe</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
    </div>
</section>