<!-- Daily start ==================== -->
<section class="section about bg-gray" id="daily">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="heading">
                    <h2 class="mb-2">New cases identified daily</h2>
                    <p>The chart demostrates daily confirmed cases on {{ updatedDate | date:'MMM dd yyyy' }}</p>
                    <hr>
                </div>
                <canvas id="daily-increase-chart" width="700" height="400"></canvas>
            </div>
        </div>
    </div>
</section>